@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
}

body {
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ede7e3;
}


.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 3vw;
}

.home_title{
  text-align: left;
  margin-top: 15vh;
  font-size: 300%;
}

.home_desc{
  margin-top: -7.5vh;
  margin-left: 1vw;
}


.wrapperUploadConfirmation{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.wrapperButtonRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15vw;
  align-items: center;
  margin-top: 10vh;
}

.descriptionBox{
  display: flex;
  justify-content: center;
  align-items: center;
}


.upload_title{
  text-align: left;
  margin-top: 2vh;
  font-size: 200%;
}

.upload_wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  margin-left: 3vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
