@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
}

body {
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ede7e3;
}


.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 3vw;
  color: #5178B2;
}

.wrapper:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url('https://cdn.discordapp.com/attachments/931459413863170069/936238273016250398/unknown.png');
  background-repeat: no-repeat;
  background-position-x: 40vw;
  background-size: 65% 130%;
  z-index: -5;
}

.wrapperMobile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 3vw;
  color: #5178B2;
}

.wrapperMobile:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('https://cdn.discordapp.com/attachments/931459413863170069/936238273016250398/unknown.png');
  background-repeat: no-repeat;
  background-position-x: -30vw;
  z-index: -5;
}

.home_title{
  
  margin-top: 15vh;
  font-size: 300%;
  color: #265191;
}

.home_desc{
  margin-top: -7.5vh;
  width: 36vw
}

.home_desc_mobile{
  margin-top: -7.5vh;
  width: 85vw
}


.wrapperUploadConfirmation{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.wrapperButtonRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15vw;
  align-items: center;
  margin-top: 10vh;
}

.wrapperTextRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15vw;
  align-items: center;
  margin-top: 10vh;
}


.descriptionBox{
  display: flex;
  justify-content: center;
  align-items: center;
}


.upload_title{
  text-align: left;
  margin-top: 2vh;
  font-size: 200%;
}

.upload_wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  margin-left: 3vw;
}

.content_box{
  display: flex;
  flex-wrap: wrap;
}

.text{
  font-family: "Oxygen";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
